.category-box-container {
    padding-top: 24px;
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 30px;
    display: flex;
    justify-content:space-around; 
    gap: 28px; /* Espaçamento lateral entre as category-boxes */   
}

.category-box {
    padding-top: 16px;
    width: 216px;    
    height: 144px;
    background: #D7503D;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.category-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
  }
  

img.category-icon {
    border-radius: 10px;
    width: 40px; /* Largura do ícone */
    height: 40px; /* Altura do ícone (mesmo valor da largura) */
    margin-right: 5px;
}
  
.price-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 100%;
}
 
.price-info span {
    margin-right: 5px; /* Espaço entre o cifrão e o valor calculado */
}
  
.calculated-value {
    font-weight: bold; /* Estilo para destacar o valor calculado */
    font-size: 40px;
}