* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    background: #E0D9D2;
    -webkit-font-smoothing: antialiased;
}

body, input, button, textarea {
    font-family: Roboto, sans-serif;
    color: white
}

.screen-container {
    margin-left: 220px;
    height: 100%;

}

h1 {
    margin-top: 32px;
    margin-left: 28px;
    color: #504C50;
}

h2 {
    margin-top: 16px;
    margin-left: 28px;
    font-size: 20px;
    color: #504C50;
}

h3 {
    color: #504C50;
    font-size: 30px;
}

select#periodo-mes {
    color: #504C50;
    background-color: #E0D9D2;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 24px;
  }

select#periodo-ano {
    color: #504C50;
    background-color: #E0D9D2;
    border: none;
    border-radius: 5px;
    width: 56px;
    height: 24px;
}

.period-selecter {
    display: flex;
    align-items: baseline;
    gap: 24px;
    color: #504C50;
}

.react-confirm-alert-overlay {
    background: rgba(224, 217, 210, 0.9);
}


.monetary-input {
    color: #666; /* Define a cor desejada */
    /* Outros estilos */
  }