aside.sidebar {
    width: 220px; /* Largura desejada */
    height: 100%; /* Faz a sidebar ocupar toda a altura da tela */
    position: fixed; /* Torna a sidebar fixa na tela */
    top: 0; /* Ajusta a posição no topo da tela */
    left: 0; /* Ajusta a posição no lado esquerdo da tela */
    background: #468C9C;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    padding-top: 32px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical, se necessário */
}

img.foto-pet {
    display: block; /* Para centralizar a imagem horizontalmente */
   
    margin-bottom: 16px;
    width: 120px; /* Largura da imagem */
    height: 120px; /* Altura da imagem */
    border-radius: 1000px;
}

strong.nome-pet {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
}

.button-group {
    display: flex;
    flex-direction: column; /* Os botões serão empilhados verticalmente */
    justify-content: center; /* Centraliza verticalmente na sidebar */
    align-items: center; /* Centraliza horizontalmente na sidebar */
}

.perfil-sidebar {
    height: max-content;
    display: flex;
    flex-direction: column; /* Os botões serão empilhados verticalmente */
    justify-content: flex-end; /* Centraliza verticalmente na sidebar */
    align-items: center; /* Centraliza horizontalmente na sidebar */


}

.sidebar-button {
    width: 102px;
    background: #E0D9D2; /* Define o fundo branco */
    color: #504C50;
    border: none; /* Remove a borda */
    border-radius: 12px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma pequena sombra externa */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    font-weight: lighter;
  }

/* Estilos quando o botão é hover (passagem do mouse) */
.sidebar-button:hover {
    background: #D7503D;
    color: white; /* Cor do texto no hover (substitua pela cor desejada) */
}

.logoff-button {
    width: 102px;
    margin-top: 10px;
    background: #B84038; /* Define o fundo branco */
    color: #E0D9D2;
    border: none; /* Remove a borda */
    border-radius: 12px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma pequena sombra externa */
    padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    font-weight: lighter;
    left: 50%; /* Para centralizar horizontalmente */
}

.logoff-button:hover {
    background: #E0D9D2;
    color: #504C50; /* Cor do texto no hover (substitua pela cor desejada) */
  }

.button-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    height:100%;
}

img.sidebar-logo {
    display: block; /* Para centralizar a imagem horizontalmente */
   
    margin-bottom: 16px;
    width: 120px; /* Largura da imagem */
    height: 80px; /* Altura da imagem */
}