.add-group{
    padding-top: 16px;
}

.modal-background {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.5);
    left: 0;
    top: 0;
    z-index: 40;
}

.modal-container{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 20rem;
    width: 20rem;
    border: none;
    border-radius: 35px;
    padding: 2rem;
    color: black;
    left: 40%;
    top: 5rem;
    opacity: 100%;
}

.input-container{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #e0e0e0;
    height: 2.5rem;
    padding: 1rem;
    border-radius: 20px;
    color: #504C50;
}

.dropdown-despesas {
    color: #504C50;
    background-color: #E0D9D2;
    border: none;
    border-radius: 5px;
    width: 104px;
    height: 24px;
}

.input-despesa{
    border: none;
    background-color: #e0e0e0;
    color: black;
    margin-left: 0.2rem;
    font-weight:bolder;
}